// Place all the styles related to the Moments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.moment {
  font-size: 3em;
  margin: 2em;
  padding: 1em;
  box-shadow: 2px 2px 4px #ccc;
}